# -----------------------
# macOS / system files
# -----------------------
.DS_Store

# -----------------------
# Project & build outputs
# -----------------------
build/
out/
bin/

# H2 database / local data folder
data/

# Gradle cache / local files
.gradle/

# Gradle wrapper should NOT be ignored
!gradle/wrapper/gradle-wrapper.jar

# -----------------------
# IDE / editor
# -----------------------
# IntelliJ
.idea/
*.iml
*.iws
*.ipr
# Eclipse / STS
.classpath
.project
.settings/
.springBeans
.apt_generated/
.sts4-cache/
# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/.vscode/

# -----------------------
# Kotlin
# -----------------------
.kotlin/